<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
       <div>
           Lütfen kaydınızı aktifleştirmek için buraya<a href="@ViewBag.ConfirmationLink"> tıklayın</a>
       </div>
    </div>
</body>
</html>
